@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@mixin content() {
  ul {
    margin: 1em 0;
    padding-left: 40px;
    li {
      list-style: disc;
    }
  }

  h1 {
    margin: 0.67em 0;
  }
  h2 {
    margin: 0.83em 0;
  }
  h3 {
    margin: 1em 0;
  }
  h4 {
    margin: 1.33em 0;
  }
  h5 {
    margin: 1.67em 0;
  }
  h5 {
    margin: 2.33em 0;
  }
  p {
    margin: 1em 0;
  }
}